.buttons {
  padding: 2rem;
  text-align: center;
}

.btn {
  margin: 1px;
  font-size: 0.8rem;
  background: none;
}

.focus {
  outline: none;
  background: #a7a7a7;
  color: white;
}

.prev,
.next {
  border: none;
}
