.posts {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
}

.label {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgb(161, 161, 161);
  font-weight: bold;
  padding: 1rem;
}

.posts p {
  padding: 2rem;
  text-align: center;
}
