.comment-list {
  padding: 2rem;
}

.comment-list li {
  display: flex;
  align-items: center;
}

.comment-count {
  font-weight: bold;
  margin-left: 2px;
}

.comment {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 12px;
}
.comment-icon {
  transform: scaleX(-1);
}

.comment-profile {
  border-radius: 50%;
  width: 7%;
}

.comment-content {
  padding: 0 2rem;
}

.comment-content > p {
  border-top: 2px solid rgb(192, 192, 192);
  font-size: 0.8rem;
}

.comment-content > div {
  font-size: 0.8em;
  padding-top: 0.7rem;
  display: flex;
  justify-content: end;
}
