.spinner {
  border-radius: 50%;
  border: 7px dashed rgb(165, 165, 165);
  animation: lotate;
  animation-duration: 3s linear;
  animation-iteration-count: infinite;
  width: 100px;
  height: 100px;
}

.loading {
  text-align: center;
}

@keyframes lotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
